.floating-buttons {
    position: fixed;
    top: 15px;
    /* Adjust top positioning */
    right: 60px;
    /* Adjust right positioning */
    z-index: 1000;
    display: flex;
    justify-content: center;
    /* Center items horizontally */
}

.floating-buttons .btn {
    width: 120px;
    margin: 0 5px;
    /* Adjust margin between buttons */
}

.chart-heading-text {
    color: black !important;
}

.side-menu.sidebar-inverse .navbar li>a:hover {
    color: #6FAAF5 !important;
    background: #001b3e !important;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.side-menu.sidebar-inverse .navbar li.active>a {
    color: #6FAAF5 !important;
    background: #001b3e !important;
}

.hidden-xs .hidden-sm {
    display: none !important;
}

.navbar .navbar-default {
    background: #0B0428;
}

.app-container {
    background: #004891;
}

.panel,
#dataTable {
    background: #f7f7f7 !important;
}

tr {
    background: #f7f7f7 !important;
    text-align: justify;
}

.bread-actions {
    display: flex;
    justify-content: space-evenly;
    color: white;
    font-weight: 600;
}

.page-title,
.voyager-person {
    color: #f7f7f7;
}

.hamburger-inner:before,
.hamburger-inner,
.hamburger-inner:after {
    background: #f7f7f7;
}

td {
    font-weight: 600;
    color: #001b3e;
    align-content: center;
}

.breadcrumb {
    background-color: #f7f7f7;
}

.wp_abs_admin {
    text-decoration: wavy;
    font-weight: 900;
    color: #004891;
}

.select_all {
    width: 20px;
    height: 20px;
}

input[type=checkbox] {
    transform: scale(1.5);
    accent-color: #001b3e;
}

.pagination .active span,
.voyager .pagination .active>a,
.voyager .pagination .active>a:focus,
.voyager .pagination .active>a:hover,
.voyager .pagination .active>span:focus,
.voyager .pagination .active>span:hover {
    background-color: #004891;
}