@import url("https://fonts.googleapis.com/css?family=Raleway");

.floating-buttons {
    position: fixed;
    top: 15px;
    /* Adjust top positioning */
    right: 60px;
    /* Adjust right positioning */
    z-index: 1000;
    display: flex;
    justify-content: center;
    /* Center items horizontally */
}

.floating-buttons .btn {
    width: 125px;
    margin: 0 5px;
    /* Adjust margin between buttons */
}

.chart-heading-text {
    color: black !important;
}

.side-menu.sidebar-inverse .navbar li>a:hover {
    color: #6FAAF5 !important;
    background: #001b3e !important;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.side-menu.sidebar-inverse .navbar li.active>a {
    color: #6FAAF5 !important;
    background: #001b3e !important;
}

.hidden-xs .hidden-sm {
    display: none !important;
}

.navbar .navbar-default {
    background: #f7f7f7;
}

.app-container {
    background: #f7f7f7;
}

tr {
    background: white !important;
    text-align: justify;
}

.bread-actions {
    display: flex;
    justify-content: space-evenly;
    color: white;
    font-weight: 500;
}

.container-fluid .page-title .voyager-person {
    color: #001b3e;
}

.voyager .breadcrumb a {
    color: #001b3e !important;
    font-weight: 600;
}

.hamburger-inner:before,
.hamburger-inner,
.hamburger-inner:after {
    background: #001b3e;
}

td {
    font-weight: 600;
    color: #001b3e;
    align-content: center;
}

.breadcrumb {
    font-size: 12px;
}

.wp_abs_admin {
    text-decoration: wavy;
    font-weight: 900;
    color: #004891;
}

.select_all {
    width: 20px;
    height: 20px;
}

input[type=checkbox] {
    transform: scale(1.5);
    accent-color: #001b3e;
}

.pagination .active span,
.voyager .pagination .active>a,
.voyager .pagination .active>a:focus,
.voyager .pagination .active>a:hover,
.voyager .pagination .active>span:focus,
.voyager .pagination .active>span:hover {
    background-color: #004891;
}

.dt-not-orderable {
    padding: 5px 12px !important;
}

th,
.actions {
    font-weight: 900 !important;
    font-size: 16px;
    color: #004891 !important;
}

.input-sm select {
    /* ... */
    background-color: #000;
    color: #fff;
}

.input-sm::before {
    /* ... */
    border-bottom: var(--size) solid #fff;
}

.input-sm::after {
    /* ... */
    border-top: var(--size) solid #fff;
}

th {
    background: rgb(239, 239, 239) !important;
}

.check-btn {
    background: #001b3e !important;
    background: linear-gradient(45deg, #353d47, #21292e);
    font-weight: 500;
    transition: ease-in 0.2s;
}

.check-btn:hover {
    background: #f7f7f7 !important;
    color: #001b3e !important;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}