.floating-buttons {
    position: fixed;
    top: 15px;
    /* Adjust top positioning */
    right: 60px;
    /* Adjust right positioning */
    z-index: 1000;
    display: flex;
    justify-content: center;
    /* Center items horizontally */
}

.floating-buttons .btn {
    width: 120px;
    margin: 0 5px;
    /* Adjust margin between buttons */
}

.chart-heading-text {
    color: black !important;
}

.side-menu.sidebar-inverse .navbar li>a:hover {
    color: #6FAAF5 !important;
    background: #001b3e !important;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.side-menu.sidebar-inverse .navbar li.active>a {
    color: #6FAAF5 !important;
    background: #001b3e !important;
}

.hidden-xs .hidden-sm {
    display: none !important;
}

.navbar .navbar-default {
    background: #0B0428;
}

.app-container {
    background: #7164A5;
}

.panel,
#dataTable {
    background: #B1A8D6 !important;
}

tr {
    background: #B1A8D6 !important;
}

.bread-actions {
    display: flex;
    justify-content: space-evenly;
    color: white;
    font-weight: 600;
}

.page-title,
.voyager-person {
    color: white;
}